.ch-top-menuWrapper {
  margin-top: 50px;
  background: #354359;
}

.ch-top-menu {
  background: #354359;
  box-shadow: -3px 4px #212940, -18px 18px 48px rgba(35, 43, 65, 0.73), 1px -1px rgba(33, 41, 64, 0.51);
  height: 50px;
}

.ch-top-menu a {
  z-index: 2;
  color: #e4e4e4;
}

.ch-top-menu a:hover, .ch-top-menu a:active {
  color: #afacad;
}

