.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.ch-iconPickerSection {
  height: 255px;
  margin: 40px 0;
}

.ch-iconPreview {
  height: 200px;
  background: white;
  padding-top: 40px;
  box-shadow: 0px 0px 0px 1px #717171, -2px 2px darkgrey, -10px 10px 26px 0 #1c202b;
  border-radius: 2px;
}

.ch-lobby .ui.form .field .ch-createRoomInput {
  box-shadow: 0px 0px 0px 1px #888888, -2px 2px darkgrey, -10px 10px 26px 0 #1c202b;
  border-radius: 2px;
}

.ch-createRoomHeader {
  text-align: left;
  color: #e4e4e4;
}

.ch-chooseIconHeader {
  text-align: left;
  color: #e4e4e4;
}
