.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.ch-iconPickerSection {
  height: 205px;
  margin: 40px 0;
}

.ch-iconPreview {
  position: relative;
  top: 45px;
}

.ch-lobby .ui.form .field .ch-createRoomInput {
  box-shadow: 0px 0px 0px 1px #888888, -2px 2px darkgrey, -10px 10px 26px 0 #1c202b;
  border-radius: 2px;
}
