.ch-appWrapper {
  background: #354359 url('./images/back-photo.jpeg') no-repeat fixed center;
  background-size: 80%;
}

.ch-app {
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 5%, rgb(53, 67, 89) 75%);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.ch-main {
  flex: 1;
  margin-top: 10px;
}

