.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.ch-room {
  margin-top: -100px;
}

.ch-roomName {
  color: #e4e4e4;
  height: 75px;
  line-height: 75px;
}

.ch-iconPickerSection {
  margin-left: auto;
}
