<div class="center aligned pt-signup">
	<div class="ui header">Sign up</div>
	<div class="ui left aligned segment">
		<form (ngSubmit)="onSubmit(signupForm.value)" [formGroup]="signupForm" class="ui form">
			<div class="field">
				<label for="signup-nickname">Nickname</label>
				<input type="text"
							 formControlName="Nickname"
							 id="signup-nickname">
			</div>
			<div *ngIf="signupForm.controls.Nickname.hasError('required') && signupForm.controls.Nickname.touched"
					 class="ui negative message">
				Nickname is required
			</div>
			<div *ngIf="signupForm.controls.Nickname.hasError('minlength') && signupForm.controls.Nickname.touched"
					 class="ui negative message">
				Nickname should include at least 4 symbols
			</div>
			<div *ngIf="signupForm.controls.Nickname.hasError('pattern') && signupForm.controls.Nickname.touched"
					 class="ui negative message">
				Spaces are not allowed
			</div>
			<div class="field">
				<label for="signup-email">Email</label>
				<input type="text" formControlName="Email" id="signup-email">
			</div>
			<div *ngIf="signupForm.controls.Email.hasError('required') && signupForm.controls.Email.touched"
					 class="ui negative message">
				Email is required
			</div>
			<div *ngIf="signupForm.controls.Email.hasError('email') && signupForm.controls.Email.touched"
					 class="ui negative message">
				Email is invalid
			</div>
			<div class="field">
				<label for="signup-password">Password</label>
				<input type="password" formControlName="Password" id="signup-password">
			</div>
			<div *ngIf="signupForm.controls.Password.hasError('required') && signupForm.controls.Password.touched"
					 class="ui negative message">
				Password is required
			</div>
			<div *ngIf="error">{{error}}</div>
			<button type="submit" [disabled]="!signupForm.valid" class="ui button pt-signupButton">Sign up</button>
		</form>
	</div>
</div>
